
<style type="text/css">
	.form {
		max-width: 40%;
		margin: auto;
		margin-top: 10%;
		border-radius: 10px;

	}
	.container {
		background: linear-gradient(lightgreen,lightyellow) ;
		height: 600px;

	}

</style>
<div class="container">
	<h3 style="text-align: center;">Password Reset Page <span class="text-danger">{{message}}</span></h3>
	<div class= "container">
		<form #resetpasswordform="ngForm" class="form" (ngSubmit)="submitDetails(resetpasswordform.value);resetpasswordform.reset()">
			<div  class="form-group">
				<label for="inputEmail">Email</label>
				<input type="email" ngModel class="form-control" id="inputEmail" name="email_id" #faremail='ngModel' placeholder="Email" required autofocus>
				<div *ngIf='faremail.errors && faremail.touched' class="alert alert-danger">
					<div [hidden]='!faremail.errors.required'>Email is Required</div>
				</div>
			</div>
			<div class="form-group">
				<label for="inputPassword"> New Password</label>
				<input type="password" ngModel class="form-control" #farpass='ngModel' id="inputPassword" name='password' placeholder="Password" required autofocus>
				<div *ngIf='farpass.errors && farpass.touched' class="alert alert-danger">
					<div [hidden]='!farpass.errors.required'>Password is Required</div>
				</div>
			</div>
			
			<div class="text-center">
			<input [disabled]="resetpasswordform.invalid" type="submit" value="Change Password" class="btn text-right btn-primary"/>
			</div>


    </form>

</div>
